* {
  font-family: 'Press Start 2P';
  image-rendering: pixelated;
}

:root {
  --glow-colour: rgba(4, 138, 255, 0.482);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  background-color: black;
  color: white;
  
}

#container {
  height: 100%;
  position: relative;
  /* background-color: aquamarine; */
}

/* #gameDisp {
  width: 100%;
  height: 100%;
  position: absolute;
} */

div.win {
  color: yellow;
  width: 150px;
  height: 20px;
  text-align: center;
}



#playerBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  height: 50px;
  box-shadow: 0 0 20px 0 var(--glow-colour);
  margin-bottom: 20px;
}

#playerBar img {
  height: 30px;
  margin: 0px 5px;
}

#lifeDisp, #fruitDisp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#lifeDisp div {
  display: flex;
  flex-direction: row;
}

.gameBoard {
  box-shadow: 0 0 20px 0 var(--glow-colour);
  width: 700px;
  border: 5px solid rgb(70, 215, 255);
}

#quitBar {
  display: flex;
  justify-content: center;
}

#quitBar button {
  box-shadow: 0 0 20px 0 var(--glow-colour);
  margin: 0px 10px;
  color: white;
  background-color: black;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-size: 20px;
}





.gameBoard div {
  border: none;
  display: inline-block;
  font-size: 5px;
  overflow: hidden;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
}




/*Board assets*/
.gameBoard div.wall {
  background-color: rgb(0, 0, 205);
}

.gameBoard div.ghostWall {
  background-color: aqua;
}

.gameBoard div.pellet {
  background-image: url('/assets/pellet.png');
}

.gameBoard div.powerUp {
  background-image: url('/assets/powerup.png');
}



/*Player sprites*/
.gameBoard div.player {
  background-image: url('/assets/pmanstatic.png');
}

.gameBoard div.pMvUp {
  background-image: url('/assets/pmanup.gif');
}

.gameBoard div.pMvDown {
  background-image: url('/assets/pmandown.gif');
}

.gameBoard div.pMvLeft {
  background-image: url('/assets/pmanleft.gif');
}

.gameBoard div.pMvRight {
  background-image: url('/assets/pmanright.gif');
}



/*Red ghost sprites*/
.gameBoard div.ghostRed {
  background-image: url('/assets/bnkyleft.gif');
}

.gameBoard div.gMvUpRed {
  background-image: url('/assets/bnkyup.gif');
}

.gameBoard div.gMvDownRed {
  background-image: url('/assets/bnkydown.gif');
}

.gameBoard div.gMvLeftRed {
  background-image: url('/assets/bnkyleft.gif');
}

.gameBoard div.gMvRightRed {
  background-image: url('/assets/bnkyright.gif');
}



/*Blue ghost sprites*/
.gameBoard div.ghostBlue {
  background-image: url('/assets/inkyleft.gif');
}

.gameBoard div.gMvUpBlue {
  background-image: url('/assets/inkyup.gif');
}

.gameBoard div.gMvDownBlue {
  background-image: url('/assets/inkydown.gif');
}

.gameBoard div.gMvLeftBlue {
  background-image: url('/assets/inkyleft.gif');
}

.gameBoard div.gMvRightBlue {
  background-image: url('/assets/inkyright.gif');
}



/*Pink ghost sprites*/
.gameBoard div.ghostPink {
  background-image: url('/assets/pnkyleft.gif');
}

.gameBoard div.gMvUpPink {
  background-image: url('/assets/pnkyup.gif');
}

.gameBoard div.gMvDownPink {
  background-image: url('/assets/pnkydown.gif');
}

.gameBoard div.gMvLeftPink {
  background-image: url('/assets/pnkyleft.gif');
}

.gameBoard div.gMvRightPink {
  background-image: url('/assets/pnkyright.gif');
}



/*Orange ghost sprites*/
.gameBoard div.ghostOrange {
  background-image: url('/assets/clydleft.gif');
}

.gameBoard div.gMvUpOrange {
  background-image: url('/assets/clydup.gif');
}

.gameBoard div.gMvDownOrange {
  background-image: url('/assets/clyddown.gif');
}

.gameBoard div.gMvLeftOrange {
  background-image: url('/assets/clydleft.gif');
}

.gameBoard div.gMvRightOrange {
  background-image: url('/assets/clydright.gif');
}